.background {
  position: absolute;
  width: 100%;
  height: 95%;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 55%
  );
  border-radius: 10px;
  z-index: 1;
}

.text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
  font-weight: 600;
  font-family: 'brandon-grotesque', 'Avenir Next', 'Helvetica Neue',
  'Helvetica', 'Arial', 'sans-serif';
  line-height: 1.6;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.title {
  line-height: 1.2;
}

.light {
  font-weight: 400;
}

.image {
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
}
